<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphenminus</key>
    <string>hyphenminus.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>nonbreakingspace</key>
    <string>nonbreakingspace.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>doublecomma</key>
    <string>doublecomma.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>sfthyphen</key>
    <string>sfthyphen.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>macronmodifier</key>
    <string>macronmodifier.glif</string>
    <key>number</key>
    <string>number.glif</string>
    <key>number2</key>
    <string>number2.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>etnahta</key>
    <string>etnahta.glif</string>
    <key>segolta</key>
    <string>segolta.glif</string>
    <key>shalshelet</key>
    <string>shalshelet.glif</string>
    <key>zaqefkatan</key>
    <string>zaqefkatan.glif</string>
    <key>zaqefgadol</key>
    <string>zaqefgadol.glif</string>
    <key>tipeha</key>
    <string>tipeha.glif</string>
    <key>revia</key>
    <string>revia.glif</string>
    <key>zarqa</key>
    <string>zarqa.glif</string>
    <key>pashta</key>
    <string>pashta.glif</string>
    <key>yetiv</key>
    <string>yetiv.glif</string>
    <key>tevir</key>
    <string>tevir.glif</string>
    <key>gereshac</key>
    <string>gereshac.glif</string>
    <key>gereshmuqdam</key>
    <string>gereshmuqdam.glif</string>
    <key>gershayimac</key>
    <string>gershayimac.glif</string>
    <key>qarneyparah</key>
    <string>qarneyparah.glif</string>
    <key>telishagedola</key>
    <string>telishagedola.glif</string>
    <key>pazer</key>
    <string>pazer.glif</string>
    <key>munah</key>
    <string>munah.glif</string>
    <key>mahapakh</key>
    <string>mahapakh.glif</string>
    <key>merkha</key>
    <string>merkha.glif</string>
    <key>merkhakefula</key>
    <string>merkhakefula.glif</string>
    <key>darga</key>
    <string>darga.glif</string>
    <key>qadma</key>
    <string>qadma.glif</string>
    <key>telishaqetana</key>
    <string>telishaqetana.glif</string>
    <key>yerahbenyomo</key>
    <string>yerahbenyomo.glif</string>
    <key>ole</key>
    <string>ole.glif</string>
    <key>iluy</key>
    <string>iluy.glif</string>
    <key>dehi</key>
    <string>dehi.glif</string>
    <key>zinor</key>
    <string>zinor.glif</string>
    <key>masoracircle</key>
    <string>masoracircle.glif</string>
    <key>sheva</key>
    <string>sheva.glif</string>
    <key>hatafsegol</key>
    <string>hatafsegol.glif</string>
    <key>hatafpatah</key>
    <string>hatafpatah.glif</string>
    <key>hatafqamats</key>
    <string>hatafqamats.glif</string>
    <key>hiriq</key>
    <string>hiriq.glif</string>
    <key>tsere</key>
    <string>tsere.glif</string>
    <key>segol</key>
    <string>segol.glif</string>
    <key>patah</key>
    <string>patah.glif</string>
    <key>qamats</key>
    <string>qamats.glif</string>
    <key>holam</key>
    <string>holam.glif</string>
    <key>holamhaser</key>
    <string>holamhaser.glif</string>
    <key>qubuts</key>
    <string>qubuts.glif</string>
    <key>dagesh</key>
    <string>dagesh.glif</string>
    <key>meteg</key>
    <string>meteg.glif</string>
    <key>maqaf</key>
    <string>maqaf.glif</string>
    <key>rafe</key>
    <string>rafe.glif</string>
    <key>paseq</key>
    <string>paseq.glif</string>
    <key>shindot</key>
    <string>shindot.glif</string>
    <key>sindot</key>
    <string>sindot.glif</string>
    <key>sofpasuq</key>
    <string>sofpasuq.glif</string>
    <key>upperdot</key>
    <string>upperdot.glif</string>
    <key>alef</key>
    <string>alef.glif</string>
    <key>bet</key>
    <string>bet.glif</string>
    <key>gimel</key>
    <string>gimel.glif</string>
    <key>dalet</key>
    <string>dalet.glif</string>
    <key>he</key>
    <string>he.glif</string>
    <key>vav</key>
    <string>vav.glif</string>
    <key>zayin</key>
    <string>zayin.glif</string>
    <key>het</key>
    <string>het.glif</string>
    <key>tet</key>
    <string>tet.glif</string>
    <key>yod</key>
    <string>yod.glif</string>
    <key>finalkaf</key>
    <string>finalkaf.glif</string>
    <key>kaf</key>
    <string>kaf.glif</string>
    <key>lamed</key>
    <string>lamed.glif</string>
    <key>finalmem</key>
    <string>finalmem.glif</string>
    <key>mem</key>
    <string>mem.glif</string>
    <key>finalnun</key>
    <string>finalnun.glif</string>
    <key>nun</key>
    <string>nun.glif</string>
    <key>samekh</key>
    <string>samekh.glif</string>
    <key>ayin</key>
    <string>ayin.glif</string>
    <key>finalpe</key>
    <string>finalpe.glif</string>
    <key>pe</key>
    <string>pe.glif</string>
    <key>finaltsadi</key>
    <string>finaltsadi.glif</string>
    <key>tsadi</key>
    <string>tsadi.glif</string>
    <key>qof</key>
    <string>qof.glif</string>
    <key>resh</key>
    <string>resh.glif</string>
    <key>shin</key>
    <string>shin.glif</string>
    <key>tav</key>
    <string>tav.glif</string>
    <key>vavdbl</key>
    <string>vavdbl.glif</string>
    <key>vavyod</key>
    <string>vavyod.glif</string>
    <key>yoddbl</key>
    <string>yoddbl.glif</string>
    <key>geresh</key>
    <string>geresh.glif</string>
    <key>gershayim</key>
    <string>gershayim.glif</string>
    <key>enquad</key>
    <string>enquad.glif</string>
    <key>emquad</key>
    <string>emquad.glif</string>
    <key>enspace</key>
    <string>enspace.glif</string>
    <key>emspace</key>
    <string>emspace.glif</string>
    <key>threeperemspace</key>
    <string>threeperemspace.glif</string>
    <key>fourperemspace</key>
    <string>fourperemspace.glif</string>
    <key>sixperemspace</key>
    <string>sixperemspace.glif</string>
    <key>figurespace</key>
    <string>figurespace.glif</string>
    <key>punctuationspace</key>
    <string>punctuationspace.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>hairspace</key>
    <string>hairspace.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
    <key>zeronojoin</key>
    <string>zeronojoin.glif</string>
    <key>zerojoin</key>
    <string>zerojoin.glif</string>
    <key>ulefttoright</key>
    <string>ulefttoright.glif</string>
    <key>urighttoleft</key>
    <string>urighttoleft.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphennobreak</key>
    <string>hyphennobreak.glif</string>
    <key>lre</key>
    <string>lre.glif</string>
    <key>rle</key>
    <string>rle.glif</string>
    <key>pdf</key>
    <string>pdf.glif</string>
    <key>lro</key>
    <string>lro.glif</string>
    <key>rlo</key>
    <string>rlo.glif</string>
    <key>newsheqel</key>
    <string>newsheqel.glif</string>
    <key>u20AC</key>
    <string>u20A_C_.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>bulletmath</key>
    <string>bulletmath.glif</string>
    <key>circledotted</key>
    <string>circledotted.glif</string>
    <key>invertednun</key>
    <string>invertednun.glif</string>
    <key>underdot</key>
    <string>underdot.glif</string>
    <key>metegright</key>
    <string>metegright.glif</string>
    <key>metegleft</key>
    <string>metegleft.glif</string>
    <key>yodhiriq</key>
    <string>yodhiriq.glif</string>
    <key>varika</key>
    <string>varika.glif</string>
    <key>yodpatahdbl</key>
    <string>yodpatahdbl.glif</string>
    <key>altayin</key>
    <string>altayin.glif</string>
    <key>altplussign</key>
    <string>altplussign.glif</string>
    <key>shinshindot</key>
    <string>shinshindot.glif</string>
    <key>shinsindot</key>
    <string>shinsindot.glif</string>
    <key>shindageshshindot</key>
    <string>shindageshshindot.glif</string>
    <key>shindageshsindot</key>
    <string>shindageshsindot.glif</string>
    <key>alefpatah</key>
    <string>alefpatah.glif</string>
    <key>alefqamats</key>
    <string>alefqamats.glif</string>
    <key>alefmapiq</key>
    <string>alefmapiq.glif</string>
    <key>betdagesh</key>
    <string>betdagesh.glif</string>
    <key>gimeldagesh</key>
    <string>gimeldagesh.glif</string>
    <key>daletdagesh</key>
    <string>daletdagesh.glif</string>
    <key>hedagesh</key>
    <string>hedagesh.glif</string>
    <key>vavdagesh</key>
    <string>vavdagesh.glif</string>
    <key>zayindagesh</key>
    <string>zayindagesh.glif</string>
    <key>tetdagesh</key>
    <string>tetdagesh.glif</string>
    <key>yoddagesh</key>
    <string>yoddagesh.glif</string>
    <key>finalkafdagesh</key>
    <string>finalkafdagesh.glif</string>
    <key>kafdagesh</key>
    <string>kafdagesh.glif</string>
    <key>lameddagesh</key>
    <string>lameddagesh.glif</string>
    <key>memdagesh</key>
    <string>memdagesh.glif</string>
    <key>nundagesh</key>
    <string>nundagesh.glif</string>
    <key>samekhdagesh</key>
    <string>samekhdagesh.glif</string>
    <key>finalpedagesh</key>
    <string>finalpedagesh.glif</string>
    <key>pedagesh</key>
    <string>pedagesh.glif</string>
    <key>tsadidagesh</key>
    <string>tsadidagesh.glif</string>
    <key>qofdagesh</key>
    <string>qofdagesh.glif</string>
    <key>reshdagesh</key>
    <string>reshdagesh.glif</string>
    <key>shindagesh</key>
    <string>shindagesh.glif</string>
    <key>tavdagesh</key>
    <string>tavdagesh.glif</string>
    <key>vavholam</key>
    <string>vavholam.glif</string>
    <key>betrafe</key>
    <string>betrafe.glif</string>
    <key>kafrafe</key>
    <string>kafrafe.glif</string>
    <key>perafe</key>
    <string>perafe.glif</string>
    <key>aleflamed</key>
    <string>aleflamed.glif</string>
    <key>zerowidthnbspace</key>
    <string>zerowidthnbspace.glif</string>
    <key>finalkafsheva</key>
    <string>finalkafsheva.glif</string>
    <key>finalkafqamats</key>
    <string>finalkafqamats.glif</string>
    <key>holamvav</key>
    <string>holamvav.glif</string>
    <key>vavshindot</key>
    <string>vavshindot.glif</string>
    <key>lamedholam</key>
    <string>lamedholam.glif</string>
    <key>lameddageshholam</key>
    <string>lameddageshholam.glif</string>
    <key>gimelrafe</key>
    <string>gimelrafe.glif</string>
    <key>daletrafe</key>
    <string>daletrafe.glif</string>
    <key>herafe</key>
    <string>herafe.glif</string>
    <key>tavrafe</key>
    <string>tavrafe.glif</string>
    <key>hiriqmem</key>
    <string>hiriqmem.glif</string>
    <key>hatafsegolmeteg</key>
    <string>hatafsegolmeteg.glif</string>
    <key>hatafpatahmeteg</key>
    <string>hatafpatahmeteg.glif</string>
    <key>hatafqamatsmeteg</key>
    <string>hatafqamatsmeteg.glif</string>
    <key>combininggrapehemejoiner</key>
    <string>combininggrapehemejoiner.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotsubcomb</key>
    <string>dotsubcomb.glif</string>
    <key>dieresisnosp</key>
    <string>dieresisnosp.glif</string>
    <key>hebrewthousand</key>
    <string>hebrewthousand.glif</string>
    <key>etnahtahafukh</key>
    <string>etnahtahafukh.glif</string>
    <key>lowerdot</key>
    <string>lowerdot.glif</string>
    <key>qamatsqatan</key>
    <string>qamatsqatan.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni05CC</key>
    <string>uni05C_C_.glif</string>
    <key>uni05CB</key>
    <string>uni05C_B_.glif</string>
    <key>uni05C8</key>
    <string>uni05C_8.glif</string>
    <key>uni05C9</key>
    <string>uni05C_9.glif</string>
    <key>uni05CA</key>
    <string>uni05C_A_.glif</string>
  </dict>
</plist>
